.p-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.p-top>span {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--purple);
}

.p-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.p-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-section-title>span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--purple);
  justify-self: center;
}

.p-section-projects {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 80vw;
  margin: 2rem 0 2rem 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10rem;
  width: 12rem;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}

.proj-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proj-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--purple);
  margin-bottom: 1rem;
}

.proj-description {
  font-size: .8rem;
  padding: 5px;
  color: var(--dark);
}

.project::before, .project::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 40px);
  background-color: #fff;
  transition: transform .5s .25s ease-in;
  z-index: -1;
}

.project::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
  transform: translateY(-100%);
}

.project::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0 100%);
  transform: translateY(100%);
}

.proj-content {
  opacity: 0;
  transition: opacity .25s;
}

.project:hover::before, .project:hover::after {
  transform: translateY(0);
}

.project:hover .proj-content {
  opacity: 1;
  transition-delay: .75s;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

@media screen and (max-width: 799px){
  .p-section-projects {
    grid-template-columns: 1fr;
  }
 
  .project {
    height: 9rem;
    width: 11rem;
  }
}