.n-wrapper {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 2rem;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.list {
  flex: 10;
}

.list>ul {
  display: flex;
  gap: 2rem;
  margin: 4rem;
}

.list-item {
  position: relative;
  text-decoration: none;
  color: var(--lightDark);
}

.list-item:hover {
  cursor: pointer;
}

.list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--purple);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.list-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.n-button {
  background: none;
  border: 2px solid var(--dark);
  color: var(--dark);
  padding: .4rem;
  transition: 0.35s;
  text-decoration: none;
  margin: 1.7rem;
  border-radius: 5px;
}

.n-button:hover, .n-button:focus {
  /* border-color: var(--lightBlue);
  color: var(--lightBlue); */
  box-shadow: inset 10em 0 0 0 var(--purple);
  color: var(--light);
  cursor: pointer;
}